<html>
    <head>
        <title> Página Inicial </title>
    </head>
    <body>
        <form action='/check' method='POST'>
            <input type='text' placeholder='Insira o nome' name='nome' />
            <input type='date' placeholder='Insira o data de nascimento' name='datanasc' />
            <button type='submit'>Enviar</button>
        <form> 
    </body>
</html>